<!-- add track -->
<form class="add-track-form" ng-submit="addSound()" name="addForm">
  <p class="inline-form">
    <input type="url" class="span10" ng-model="newSound" name="newSound"
    required valid-sound-url placeholder="paste SoundCloud track URL here"/>
    <button
      type="submit" class="btn">Add sound</button>
  </p>
</form>

<!-- empty track list -->
<p class="alert empty-list" ng-hide="sounds.length">
  Playlist is empty yet.
  <a href="#" class="add-track-btn">Start adding sounds!</a>
</p>

<!-- track list -->
<div class="tracks">
  <div class="track" ng-class="{playing: playing}" ng-repeat="sound in sounds"
    tabindex="0">
    <button class="close" ng-click="removeSound(sound)">&times;</button>
    <player play="play(sound)" pause="pause(sound)">
      <h3>{{ track.user.username }}</h2>
      <h2>{{ track.title }}</h2>
      <div class="controls">
        <button class="play-button" ng-click="toggle()">
          <span ng-show="playing">❚❚</span>
          <span ng-hide="playing">▶</span>
        </button>
        <div class="progress" ng-click="seek($event)">
          <div style="width:{{ currentTime / duration * 100 }}%"></div>
        </div>
      </div>
      <audio ng-src="{{ stream() }}"></audio>
    </player>
  </div>
</div>
